# Server Configuration
PORT=3000

# API Keys
JINA_API_KEY=your_jina_api_key_here
GEMINI_API_KEY=your_gemini_api_key_here

# Qdrant Configuration
QDRANT_URL=http://localhost:6333
QDRANT_API_KEY=your_qdrant_api_key_here

# Redis
REDIS_HOST=
REDIS_PASSWORD=
REDIS_PORT=16596

